.centered {
   text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.explore-part{
    text-align: center;
}
.Explore-content-header{
    font-size: 64px;
    color: #FFFFFF;
}
.explore-paragraph{
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.search-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    backdrop-filter: blur(10px);
}

.search-container input, 
.search-container select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}

.search-container input {
    width: 200px;
}

.search-container select {
    width: 150px;
}

.search-button {
    background: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 150px;
}

.search-button:hover {
    background: #e64a19;
}

@media screen and (max-width: 768px) {
    .centered{
        border: 1px solid red;
        align-items: center;
    }
    .search-container {
        width: 40%;
        position: relative;
        text-align: center;
        /* position: fixed; */
        display: table;
        
        
    }
    .Explore-content-header{
        font-size: 25px;
        color: #FFFFFF;
    }
    .explore-paragraph{
        font-size: 10px;
        color: #FFFFFF;
        padding-bottom: 15px;
    }
    .im-size{
        width: 90%;
        height: 500px;
    }

    .search-container h2 {
      
        font-size: 10px;
        color: white;
        margin-bottom: 10px;
    }

    .search-container p {

        font-size: 14px;
        color: white;
        margin-bottom: 20px;
    }

    .search-container input,
    .search-container select {
        width: 100%;
        padding: 1px;
        margin-bottom: 10px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
    }

    .search-button {
        width: 100%;
        background: #ff5722;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
    }

    .search-button:hover {
        background: #e64a19;
    }
}
